/* Custom CSS - for styles that cannot be done in Tailwind */

body {
  font-family: "Noto Serif JP", serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  /* font-family: "Noto Sans JP", sans-serif; */
  /* font-family: "EB Garamond", serif; */
}

.nav-bar {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
}

.noto-sans {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
}

.noto-serif {
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.hero-banner,
.greeting-hero,
.kura-card,
.miya-card {
  background-image: var(--bg-mobile);
}

@media (min-width: 48rem) {
  .hero-banner,
  .greeting-hero,
  .kura-card,
  .miya-card {
    background-image: var(--bg-desktop);
  }
}


/* FAQ accordion icon */
.faq-icon {
  display: inline-block;
}

.faq-item.is-open .faq-icon {
  transform: rotate(90deg);
}

/* header,
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
} */
